@font-face {
    font-family: 'MinecraftMono';
    src: url('resources/MinecraftMono.otf');
}


.mainSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 2em;
}

body {
    background-color: lightblue;
    margin: 0;

    overflow: hidden;

    --button-size: 250px
}

#backgroundImage {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: auto;

    image-rendering: pixelated;
}

.spacer {
    height:50vh;
}

#backgroundImages {
    position: absolute;
    top: 0;

    width: 100%;
    height: auto;

    image-rendering: pixelated;
}

#backgroundImages>img {
    width: 100%;
    height:auto;
    image-rendering: pixelated;
    margin: 0px;
}

.void {
    margin: 0px;
    margin-top: -1em;
}

#logoImage {
    padding: 0.5em;

    min-width:23em;
    max-width:40%;
    width: 40%;
}

#infoTextBox {
    max-width: 98%;
    width: 30em;

    aspect-ratio: 2.28;

    text-align: center;
    font-size: x-large;
    font-family: 'MinecraftMono';

    background-image: url('resources/textbox.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;

    image-rendering: pixelated;
}

#infoText {
    font-size: 1em;
    margin: 4em;
}


#externalIcons {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1% 1% 0;
}

.icon {
    height: 3em;
    transition: 100ms;
}

.icon:hover {
    size: 100px;
    padding-bottom: 10px;
    transition: 100ms;
}

#buttons {
    text-align: center;
    font-family: 'MinecraftMono';

    color: white;
    text-shadow: 4px 4px black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 5em;
    z-index:100;
}

#blueprintButton {
    background-image: url('resources/blueprint_button.png');
}

#brassButton {
    background-image: url('resources/brass_button.png');
}

#beltButton {
    background-image: url('resources/belt_button.png');
}

.nav-button {
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    aspect-ratio: 50%;
    flex: 1;
    padding: 0px;
    height:100%;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transform: scale(1.0);
    transition: 100ms transform;


    /* background-color: none;
    border: none; */
}

.disabled-nav {
    filter: grayscale(100%);
    cursor: not-allowed;
    opacity: 30%;
}

.nav-button:hover {
    transform: scale(1.05);
}

.nav-button>h1 {
    margin: 0px;
    padding: 0px;
    /* flex:1;
    width: 100%;
    height:100%; */
}

/* media query for small screens */
@media screen and (max-width: 600px) {
    #infoTextBox {
        width: 100%;
        max-width: 100%;
    }

    #infoText {
        font-size: 0.6em;
        margin-left: 3.2em;    
        margin-right: 3.2em;    
        margin-top: 2.5em;    
    }
    

    #logoImage {
        width: 90%;
        max-width: 100%;
    }

    #buttons {
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        width: 15em;
        flex:1;
        max-width: 100%;
        gap: 0em;
        justify-content: start;
    }

    .nav-button {
        aspect-ratio: 50%;
        flex: none;
        padding: 0px;
        width:100%;
        height: 8em !important;
    }
    #brassButton {
        visibility: hidden;
    }
    #blueprintButton {
        visibility: hidden;
    }
}